html {
	box-sizing: border-box;;
  background-color: #f2f2f2;
  font-family: Dosis ,sans-serif;;
  line-height: 1.5;
}
.beetle-types {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #9a816d;
  color: #fff;
}
h1 {
  text-align:center;
  color: #5b2700;
}
